<h1>Listing incidents</h1>

<table>
  <thead>
    <tr>
      <th>Component</th>
      <th>Collector</th>
      <th>Shard</th>
      <th>Beacon</th>
      <th>Description</th>
      <th>Message</th>
      <th>Impact</th>
      <th>Severity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.component %></td>
        <td><%= incident.collector %></td>
        <td><%= incident.shard %></td>
        <td><%= incident.beacon %></td>
        <td><%= incident.description %></td>
        <td><%= incident.message %></td>
        <td><%= incident.impact %></td>
        <td><%= incident.severity %></td>
        <td><%= link_to 'Show', incident %></td>
        <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
        <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_incident_path %>
