<h3>There are currently <%= @accounts.count %> accounts in the database.</h3>
<h3>Look up active deployment customers affected by a data tier incident</h3>
<p>Use this page to look up which customers are affected if we've had delays or downtime on a component, or to convert lists of IDs into lists of customer contact information.</p>
<p>If both are filled in then the result set will be the intersection of the two lists.</p>

<%= form_tag(accounts_path, method: "get") do %>
  <%= label_tag(:priority, "Sales priority:") %>
  <%= text_field_tag(:priority, params[:priority]) %>
  <%= label_tag(:collector, "Collector:") %>
  <%= text_field_tag(:collector, params[:collector]) %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.number %></td>
    <td><%= account.priority %></td>
    <td><%= account.name %></td>
    <td><%= account.owner %></td>
  </tr>
<% end %>

<%= link_to "Go back", accounts_path %>



